label{
    display: inline-block;
    width:100px;
    text-align:left;
    font-size:10px;
}
form{
    width:400px;
    padding:1em;
    border:1px solid #fdd9b5;
    border-radius:0.5em;

}
textarea{vertical-align: top;}
input,textarea{
    font: 1em sans-serif;
    width:200px;
    border:1px solid #ffe4c4;
}
input:focus,textarea:focus{background-color:#ffcc99;}
#submitbtm{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
}
form li + li{
    margen-top:0.5em;
}
.credit{
    background-color:#fdd9b5;
    margin:auto;
}
.divblock{
 display:flex;
 padding:auto;
}
input {
    width: 260px;
    background-color:#ffe4c4;
}
.divblock input {
    width: 66px;
    margin-right:20px;
}
.h2absolute{
    display:block;
    background-color:#ff8624;
    color:#fff;
    margin-left:-35px;
    padding-left:35px;
    margin-right:70px;
}
#god{
    margin-top:39px;
}
div{
margin-bottom:10px;
}
