-ms-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
header{
font-family: Times New Roman;
}
body
    {
        font-family: Calibri;
        background:#f5f5f5;
        h3 {color:#979997};
        h2 {color:#979997};
        .snoska{

            text-size:10px;

            };
    }