-ms-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
header
    {
    font-family: Times New Roman;
    }
body
    {
    font-family: Calibri;
    background:#f5f5f5;
    }
#DZ3 ul li
    {
    list-style-type: none;
    font-size:18px;
    }
.gruppa:before
    {
    content:url("/images/football.png");
    margin-right:5px;
    }
.gruppa
    {
    font-weight: 700;
    }
#pol:before
    {
    content:url("/images/flags/poland.png");
    margin-right:5px;
    }
#ros:before
    {
    content:url("/images/flags/russia.png");
    margin-right:5px;
    }
#che:before
    {
    content:url("/images/flags/czech.png");
    margin-right:5px;
    }
#gre:before
    {
    content:url("/images/flags/greece.png");
    margin-right:5px;
    }
#ger:before
    {
    content:url("/images/flags/germany.png");
    margin-right:5px;
    }
#nid:before
    {
    content:url("/images/flags/netherlands.png");
    margin-right:5px;
    }
#por:before
    {
    content:url("/images/flags/portugal.png");
    margin-right:5px;
    }
#dan:before
    {
    content:url("/images/flags/denmark.png");
    margin-right:5px;
    }
#isp:before
    {
    content:url("/images/flags/spain.png");
    margin-right:5px;
    }
#ita:before
    {
    content:url("/images/flags/italy.png");
    margin-right:5px;
    }
#xor:before
    {
    content:url("/images/flags/croatia.png");
    margin-right:5px;
    }
#ipl:before
    {
    content:url("/images/flags/ireland.png");
    margin-right:5px;
    }
#ykr:before
    {
    content:url("/images/flags/ukraine.png");
    margin-right:5px;
    }
#ang:before
    {
    content:url("/images/flags/england.png");
    margin-right:5px;
    }
#fra:before
    {
    content:url("/images/flags/france.png");
    margin-right:5px;
    }
#shv:before
    {
    content:url("/images/flags/sweden.png");
    margin-right:5px;
    }