-ms-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
body{
#style-text/*не работает размер текста и весь этот блок(*/
    {
    font-size:50px;
    white-space: normal;
    color:#e5be01;
    margin:0;
    }
#style_z1
    {
    font-size:30px;
    color:#413d8b;
    white-space: normal;
    margin:0;
    }
#style_z2
    {
    font-size:20px;
    color:#6d86a9;
    white-space: normal;
    }
#style_z3
    {
    font-size:17px;
    color:#6d86a9;
    white-space: normal;
    }
#comment
    {
    font-size:12px;
    white-space: normal;
    }

    font-family: Calibri;
    background:#f5f5f5;
}
