-ms-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
h4{color: gold;}
body
    {
    font-family: Calibri;
    background:#87a96b;
    color: #ffd700;
    }
#p1
{
    white-space: pre;
}
.blok
{
    border: 1px solid black;
    border-radius:30px;
    display:flex;
}
.blok div
{
    margin:10px;
    padding:15px;
}
.blok img
{
    border: 1px solid #ffd700;;
    border-radius:30Px;
    margin:30px;
}
.aliganright{
    float:left;
    margin-left:0px;
}