*{/*глобальное обращение по всему умолчанию*/
   color:black;
    foot-size: 75px;
}
/*Оформление меню*/
    #menu1 {
        width:auto;
        display:block;
        margin: 0 auto 0px;

}
    header{
        background: #87a96b;

        padding:0px;
        margin:0px;
}
    #menu1 ul{
        list-style:none;
        display:flex;
        margin: 0px;
        padding: 0px;
        padding-left:0 ;

}
    #menu1 ul li{
        width: 150Px;
        height: 37Px;
        font-size:35px;
        background:#DCDCDC;
        text-align: center; /* Горизонтальное положение*/
        vertical-align: bottom;
        transition:1S;
        margin: auto;
}
    #menu1 ul li:hover{
        background:red;
    }

    #menu1 ul a{
        text-decoration: none;
}
herder{
    background:#87a96b;
    color:#6f0035; <!-- HEX описание цвета -->
    }
p   {
    font-size:25px;
    }
h1{color: rgb(250,128,114);} <!-- RGB палитра -->
h2{color: red;} <!-- прямое описание цвета -->
h3{color: black;}
h4{color: white;}
h5{color: white;}
h6{color: purpur;}
/* при одинаковом повторинии упращение h1,h2,h3...{} */
/* свойства для абзацев */
#p1{
    /*нужен для отображения пробелов между словами*/
    /*normal
    |nowrap не учитывать пробелы и переносы
    |pre отображение с учетом всех перенососв и пробелов
    |pre-line не учитывать пробелы, перенести текст на слейдующую строку
    |pre-wrap сохраняет все пробелы и переносы, но если строка не помещается - то текст автоматический будет преренесен*/
    white-space: nowrap;
    }

#p2{
    white-space: normal;

    word-break: break-all;
     width:200px;}/* gthtyjc cnhjr dyenhb ckjd |normal
     |break-all добовляет перенос строк так, чтобы слово поместилось в заданную ширину
     | keep-all запрещяет перенос слов*/
.p3{
    white-space: normal;
    writing-mode:vertical-lr;
    height:100px;
    /*writing-mode:horizontal-tb;Горизонтальная сверхху вниз,
    vertical-rl вертикальня сверху вниз справо налево
    vertical-lr вертикальная сверху вниз слева напрво*/
    }
