*{
   /* #9e354a цвет на фоне слов*/
   /* #c66376 цвет строки*/
   /* #ed9eae цвет на фоне общем*/
   color:white;
   foot-size: 0px;
}

#zad1{
    width:auto;
    display:block;
    margin: 0px;
    padding: 0px;
    background:#c66376;
    }

#zad1 ol{
    padding: 0px;
    padding-left:0px;
    }

#zad1 ol li{
    width: min-content ;
    height: 27Px;
    font-size:20px;
    background:#9e354a;
    margin-left: 30px;
    text-align: left;
    vertical-align: bottom;
    margin-right: auto;
    }

.zd{
    padding: 4px 20px 3px 20px;
    margin: 0px;
    margin:
}
.fon{
    width:auto;
    display:block;
    margin: 0px;
    padding: 5px;
    background:#ed9eae;
}

body{
    background:#ed9eae;
    color:#6f0035;
}
p{
    font-size:25px;
}

#p1{
   white-space: nowrap;
    }

#p2{
    white-space: normal;
    word-break: break-all;
    width:200px;
    }

.p3{
    white-space: normal;
    writing-mode:vertical-lr;
    height:100px;
    }
