-ms-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
head{
    background: #87a96b;
    padding:0px;
    margin:0px;
}
header{

}
body{

}
body{
#karta
    {
        width:auto;
        display:block;
        margin: 0px auto 0px;

    }
#karta ul
    {
        list-style:none;
        display:flex;
        margin: 0px;
        padding: 0px;
        padding-left:0px;
    }
#karta ul li
    {
        width: avto;
        height: avto;
        font-size:25px;
        background:#DCDCDC;
        padding:5Px;
        margin: 2Px;
    }
#karta ul a
    {
        text-decoration: none;
    }
.red{
    color:red;
}