*{/*глобальное обращение по всему умолчанию*/
   color:black;
   foot-size: 75px;
}
/*Оформление меню*/
    .menu1,.menu1footer {
        width:auto;
        display:flex;
        margin: 0 auto 0px;

}
    header{
        background: #87a96b;
        padding:0px;
        margin:0px;
}
    .menu1 ul{
        list-style:none;
        display:flex;
        margin: 0px;
        padding: 0px;
        padding-left:0 ;

}
.menu1footer ul{
        list-style:none;
        display:block;
        margin: 0px;
        padding: 0px;
        padding-left:0 ;

}
    .menu1 ul li{
        width: 150Px;
        height: 40Px;
        font-size:35px;
        background:#DCDCDC;
        text-align: center; /* Горизонтальное положение*/
        vertical-align: bottom;
        transition:1S;
        margin: 5px;
}
.menu1footer ul li{
        width: auto;
        height:auto;
        font-size:35px;
        background:#DCDCDC;
        text-align: center; /* Горизонтальное положение*/
        vertical-align: bottom;
        transition:1S;
        margin: 5px;
        diplay:block;
}
    .menu1 ul li:hover,.menu1footer ul li:hover{
        background:red;
    }

    .menu1 ul a,.menu1footer ul a{
        text-decoration: none;
}

header{
font-family: Times New Roman;

    background:#87a96b;
    color:#6f0035; <!-- HEX описание цвета -->
}
p{
    /*font-size:25px;*/
}
h1{color: Black;} <!-- RGB палитра -->
h2{color: red;} <!-- прямое описание цвета -->
h3{color: black;}
h4{color: black;}
h5{color: black;}
h6{color: purpur;}
/* при одинаковом повторинии упращение h1,h2,h3...{} */
/* свойства для абзацев */
#p1{
    /*нужен для отображения пробелов между словами*/
    /*normal
    |nowrap не учитывать пробелы и переносы
    |pre отображение с учетом всех перенососв и пробелов
    |pre-line не учитывать пробелы, перенести текст на слейдующую строку
    |pre-wrap сохраняет все пробелы и переносы, но если строка не помещается - то текст автоматический будет преренесен*/
    white-space: nowrap;
    }

#p2{
    white-space: normal;

    word-break: break-all;
     width:200px;}/* gthtyjc cnhjr dyenhb ckjd |normal
     |break-all добовляет перенос строк так, чтобы слово поместилось в заданную ширину
     | keep-all запрещяет перенос слов*/
.p3{
    white-space: normal;
    writing-mode:vertical-lr;
    height:100px;
    /*writing-mode:horizontal-tb;Горизонтальная сверхху вниз,
    vertical-rl вертикальня сверху вниз справо налево
    vertical-lr вертикальная сверху вниз слева напрво*/
    }
.aliganleft{
    float:right;
    margin-right:0px;
}
.aliganright{
    float:left;
    margin-left:0px;
}
.post{
       background:#8fffc7;
       border: 1px solid black;
       border-radius:30px;
}
.post-info{
    color:#cecece;
   }
.post div{
    padding:0px;
}
.post img{
    border: 10px double black;
    border-radius:30Px;
    margin:30px;
    /*
    widht -
    height -
    size - размеры страницы для разных маркеров изображения, при разных разрешениях.
    srcset - указывает набор возможных изображений для отображения в брайзере( адрес, ширина, плостность пикселей)
    imap - указатель серверной карты-изображения, к которой можно привязать сслыки
    usemap - связывает картинку с картой изобраджения при помощи тега <map>
    Применяется изображения формата Jpeg, GIF, PNG, PNG-8,24,32, Apng, SVG, web bmp, ico, fav.
    */
 }

#comment
    {
    font-size:12px;
    white-space: normal;
    font-family: Calibri;
    background:#f5f5f5;
    }


/*Настрой стиля Footer*/
.footercolumns{
    display:flex;
}
.footercolumn{
    flex:33%;
    margin:20px;
}
footer{
    background:;
    padding:10px;
}