-ms-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
head
{

}
header
{
Font-family: none;
}
body
{
    padding-left:10px;
    padding-right:10px;
    Font-family: Calibri;
    background:#f5f5f5;

    .cod
    {
        background:#dfdfdf;
        color:#900020;
    }
    .line
    {
        border: none;
        height: 3px;
        background:#dfdfdf;
    }
    #primer
    {
        background:#dfdfdf;
    }
}
footer
{
    padding:0px;
    #footdfn
    {
        list-style:none;
        display:flex;
        margin: 0px;
        padding: 0px;
        padding-left:0px;
        font-size:13px;
        display:left;
    }
    #footdfn li
    {
    color:#0000FF;
    background:#dfdfdf;
    margin-left:3px;
    }

}
